Final project/Nodered/Nodered.txt
[{"id":"b5d1af96.0416f8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"518afb0c.fd6614","type":"tcp in","z":"b5d1af96.0416f8","name":"Mote1","server":"client","host":"localhost","port":"60001","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":110,"y":360,"wires":[["80d49959.5d7128"]]},{"id":"e8e0cadb.f768b","type":"tcp in","z":"b5d1af96.0416f8","name":"Mote3","server":"client","host":"localhost","port":"60003","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":110,"y":500,"wires":[["80d49959.5d7128"]]},{"id":"67d0e154.55f8","type":"tcp in","z":"b5d1af96.0416f8","name":"Mote2","server":"client","host":"localhost","port":"60002","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":110,"y":420,"wires":[["80d49959.5d7128"]]},{"id":"8a320d6a.e229","type":"tcp in","z":"b5d1af96.0416f8","name":"Mote4","server":"client","host":"localhost","port":"60004","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":90,"y":560,"wires":[["80d49959.5d7128"]]},{"id":"cd8c3efb.31def8","type":"tcp in","z":"b5d1af96.0416f8","name":"Mote5","server":"client","host":"localhost","port":"60005","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":110,"y":640,"wires":[["80d49959.5d7128"]]},{"id":"80d49959.5d7128","type":"function","z":"b5d1af96.0416f8","name":"Parser for mote1","func":"var regex = /#\\d+/g;\nvar matches = msg.payload.match(regex);\nif(matches === null ||matches[1] === null){\n    msg.payload = \"Random-Payload by cooja:  \" ;\n\n} else{\n    var final_string = \"Mote with id \" + matches[0] + \" is too close to the other mote with id \" + matches[1];\n    msg1={ payload:{\"value1\": matches[0],\"value2\":matches[1]}};\n    msg.payload = final_string;\n   \n}\nreturn  msg1;\n\n","outputs":2,"noerr":0,"x":300,"y":460,"wires":[["2a3c017d.42c14e","3f51f17a.118946"],["eaf81824.e318d8"]]},{"id":"2a3c017d.42c14e","type":"debug","z":"b5d1af96.0416f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":570,"y":500,"wires":[]},{"id":"3f51f17a.118946","type":"ifttt out","z":"b5d1af96.0416f8","eventName":"Proximity alert","key":"9935ba0e.37026","x":560,"y":380,"wires":[]},{"id":"eaf81824.e318d8","type":"debug","z":"b5d1af96.0416f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":600,"y":660,"wires":[]},{"id":"9935ba0e.37026","type":"ifttt-key","z":""}]